<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">


<div class="container p-2">
<%= simple_form_for :search, url: cycles_path, method:'GET', html: {class: 'form-inline'} do |f| %>
    <div class="form-group mb-2 mx-2">
          <%= f.input :brand, collection: Cycle::BRAND, class: 'form-control', required: false, selected: @brand, include_blank: 'All' %>
    </div>
    <div class="form-group mx-2 mb-2">
          <%= f.input :color, collection: Cycle::COLOR, class: 'form-control mr-2', required: false, selected: @color, include_blank: 'All' %>
    </div>
    <div class="form-group mx-2 mb-2">
          <%= f.input :category, collection: Cycle::CATEGORY, class: 'form-control mr-2', required: false, selected: @category, include_blank: 'All' %>
    </div>
    <div class="form-group mx-2 mb-2">
          <%= f.input :town, collection: Cycle::TOWN, class: 'form-control mr-2', required: false, selected: @town, include_blank: 'All' %>
    </div>
    <div class="form-group">
          <%= f.submit "Search", class: "btn-yellow" %>
    </div>
      <% end %>
<br>

<% if @cycles.empty? %>
<h1>No cycles meet your criteria</h1>
<h2>Please try another search:</h2>
<% else  %>


<div class="container mt-2 mb-3">
  <h1>Cycles available near you</h1>

  <div class="row">
    <% @cycles.each do |cycle| %>
      <div class="col-md-4 mb-5">
        <div class="small-card">
          <%= link_to cycle_path(cycle), id:"cyclephoto" do %>
          <%= image_tag cycle.photo %>

          <div class="d-flex justify-content-front ml-3 mt-3 ">
            <h3><%= cycle.brand %></h3>
            <!-- <h2>Product title!</h2> -->
          </div>
          <div class="small-card-infos d-flex justify-content-between text-center" style="font-size: 18px; font-weight: bolder;">
            <h5 class="card-text"><%= cycle.category.capitalize %></h5>
            <p class="card-price">¥<%= cycle.price %></p>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
  </div>
  <% end  %>
</div>

