<h1>New</h1>

<div class="container">
  <%= simple_form_for(@cycle) do |f| %>
  <%= f.error_notification %>

  <%= f.input :brand, label: "Brand" %>
  <%= f.input :color, label: "Color" %>
  <%= f.input :category, label: "Category" %>
  <%= f.input :price, label: "Price" %>
  <%= f.input :description, label: "Description" %>
  <%= f.input :location, label: "Location" %>
  <%= f.input :photo, label: "just put in string for now I'll use cloudinary on this - NS" %>

  <%= f.button :submit, class: "btn-primary" %>
  <%= f.button :button, "Cancel", type: "reset", class: "btn-outline-secondary" %>
<% end %>
</div>


<%= link_to 'go home', root_path %>


